// COMMON

$green: #39b54a;
$red: #dd4a38;
$partial: #b7ce03;
$blue: #0071bc;

$ie: #2e6792;
$firefox: #f7931e;
$chrome: #1387e8;
$safari: #808080;
$opera: #c1272d;
$android: #8cc63f;
$blackberry: #222;
