// FUNCTIONS & MIXINS
// ----------------------------------------------------

@function em($px, $context: 16) {
	@return ($px / $context) * 1em;
	}

@function black($opacity) {
	@return (rgba(0,0,0,$opacity));
	}
@function white($opacity) {
	@return (rgba(255,255,255,$opacity));
	}


@mixin mobile() {
	@media (min-device-width: 320px) {
		@content;
		}
	}
@mixin mobile-landscape() {
	@media (min-width: 480px) {
		@content;
		}
	}
@mixin tablet-mini() {
	@media (min-width: 600px) {
		@content;
		}
	}
@mixin tablet {
	@media (min-width: 768px) {
		@content;
		}
	}
@mixin tablet-landscape() {
	@media (min-width: 1024px) {
		@content;
		}
	}
@mixin desktop() {
	@media (min-width: 1200px) {
		@content;
		}
	}
@mixin desktop-plus {
	@media (min-width: 1600px) {
		@content;
		}
	}

@mixin mq($media) {
	@media (min-width: $media) {
		@content;
		}
	}


@mixin ie-rgba($color) {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{ie-hex-str($color)},endColorstr=#{ie-hex-str($color)});
	}

@mixin ellips() {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	}

