// CSS RESET
// ----------------------------------------------------

html { height: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; } // rubberband scrolling on iOS5 + fix device orientation zoom bug
body, form, ol, ul, li, dl, dt, dd, td, th, tr, fieldset { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, p, pre, blockquote, address { margin: 0 0 1em 0; padding: 0; }
ul { list-style: none; }
img, fieldset { border: 0; -ms-interpolation-mode: bicubic; }
table { border-collapse: collapse; border-spacing: 0; empty-cells: show; font-size: 100%; }
th { text-align: center; }
tbody th { text-align: left; }
a:hover, a:active { outline: 0; } // Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test
input::-moz-focus-inner { border: 0; }
* { @include box-sizing(border-box); }


// BASICS
// ----------------------------------------------------

body {
	font: 100%/1 "Open Sans", sans-serif;
	font-weight: 300;
	background-size: 200px 200px, 10px 10px;
	padding: 0 3% 30px;
	max-width: 1800px;
	margin: 0 auto;
	
	@include tablet {
		background-size: 400px 400px, 10px 10px;
		padding: 0 5% 40px;
		}
	}

a {
	color: $link;
	text-decoration: none;
	}

h1 {
	font-weight: 300;
	font-size: em(34);
	}
h2 {
	font-weight: 300;
	font-size: em(24);
	margin: 0 0 .5em;
	}

input,
textarea,
select,
button {
	font: inherit;
	}
	input[type=submit],
	input[type=button],
	button {
		background: #fff;
		color: $link;
		border: 0;
		padding: .3em 1em;
		font-size: 1.2em;
		border-radius: 0;
		margin: 0;
		-webkit-appearance: none;
		
		&:hover,
		&:active,
		&:focus {
			cursor: pointer;
			color: #fff;
			background: $index;
			}
		}
	input[type=checkbox] {
		-webkit-appearance: none;
		margin: 0 3px 0 0;
		color: #fff;
		vertical-align: -1px;
		line-height: 1em;
		border: 0; // being explicit for iOS
		border-radius: 0; // being explicit for iOS
		background: none; // being explicit for iOS
		
		&:focus {
			outline: none;
			box-shadow: 0 0 5px 1px lightblue, inset 0 0 1px 1px lightblue;
			}
		}
	input[type=range] {
		-webkit-appearance: none;
		height: 2px;
		background: #fff;
		display: block;
		margin: 1em 0;
		width: 70%;
		
		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			background: $search;
			border: 2px solid #fff;
			height: 20px;
			width: 20px;
			border-radius: 99px;
			cursor: ew-resize;
			}
		}
	.select {
		background: #fff;
		display: inline-block;
		margin: .4em 0 0;
		position: relative;
		
		select {
			-webkit-appearance: none;
			background: transparent;
			margin: 0;
			border: 0;
			padding: .2em 1.4em .2em .4em;
			}
		&:before {
			position: absolute;
			right: 4px;
			top: 2px;
			color: #333;
			}
		}

	textarea {
		width: 100%;
		height: 80px;
		max-width: 800px;
		border: 0;
		margin: .5em 0 0;
		border-radius: 0; // being explicit for iOS
		}


.cf { // clearfix
	&:before,
	&:after {
		display: table;
		content: "";
		}
		&:after {
			clear: both;
			}
	}

.left {
	float: left;
	}

.right {
	float: right;
	}

.hidden {
	display: none;
	}


// LAYOUT
// ----------------------------------------------------

nav {
	@extend .cf;
	margin: 0 0 10px;
	position: relative;
	
	@include tablet {
		margin: 0 0 20px;
		}
	
	li {
		display: inline-block;
		
		> a {
			display: inline-block;
			color: $nav;
			padding: .5em .7em .6em;
			margin: 0 3px 0 0;
			background: $nav-bg;
			@include ie-rgba($nav-bg);
			
			&:hover {
				background: $nav-hover;
				color: #fff;
				}
			
			&.index {
				background: $index;
				color: #fff;
				margin: 0;
				
				&:hover {
					background: #fff;
					color: $index;
					}
				}
			span,
			.icon {
				display: none;
				}
			
			@include mobile-landscape {
				span {
					display: inline;
					}
				.icon {
					display: inline-block;
					font-size: em(14);
					}
				}
			@include tablet-mini {
				font-size: em(20);
				
				.icon {
					font-size: em(16, 20);
					}
				}
			@include tablet {
				font-size: em(24);
				margin: 0 6px 0 0;
				
				.icon {
					font-size: em(20, 24);
					}
				}
			}
		}

	.news {
		position: absolute;
		top: .95em;
		left: 12em;
		right: 21em;
		height: 1.3em;
		color: $nav;
		font-size: em(18);
		display: none;
		@include ellips;
		
		&:hover {
			color: $contrast;
			}
		
		.date {
			color: rgba($nav, .4);
			}
		
		@include tablet-landscape {
			display: block;
			}
		}
	}


// SEARCH BAR

.search {
	background: $search;
	color: #fff;
	text-align: center;
	padding: .6em 0;
	margin: 0 0 10px;
	font-size: em(18);
	
	input {
		@include appearance(none);
		border: 0;
		border-bottom: 1px solid #fff;
		background: transparent;
		font: inherit;
		color: #fff;
		width: 50%;
		padding: 0 4px;
		border-radius: 0;
		text-align: center;
		
		&:focus {
			outline: none;
			background: white(.2);
			}
		}
	
	.options {
		color: #fff;
		color: white(.4);
		padding: 0 0 0 10px;
		white-space: nowrap;
		vertical-align: middle;
		
		span {
			display: none;
			}
		&:hover {
			color: #fff;
			}
		}
	
	@include mobile-landscape {
		font-size: em(24);
		
		input {
			width: 40%;
			}
		.options {
			font-size: em(18, 24);

			span {
				display: inline;
				}
			.icon {
				vertical-align: -2px;
				}
			}
		}
	@include tablet {
		font-size: em(30);
		margin: 0 0 20px;
		
		input {
			border-bottom-width: 2px;
			}
		.options {
			font-size: 24px;
			}
		}
	@include tablet-landscape {
		font-size: em(48);
		}
	@include desktop {
		input {
			width: 30%;
			}
		}
	}


// SEARCH OPTIONS

.searchPanel {
	background: $search;
	margin: -10px 0 10px;
	padding: 8px 16px 24px;
	font-size: em(12);
	color: #fff;
	overflow: hidden;
	line-height: 1.5;
	
	a {
		color: #fff;
		}
	p {
		margin: 0 0 .7em;
		}
	fieldset {
		padding: .8em 0 20px 0;		
		}
	legend {
		background: white(.2);
		@include ie-rgba(white(.2));
		color: #fff;
		padding: .1em .5em;
		}
	.dim {
		color: white(.5);
		}
	
	@include tablet {
		margin: -20px 0 20px;
		padding: 10px 20px 30px;
		font-size: em(16);
		}
	}

#options {
	fieldset:first-child {
		width: 50%;
		float: left;
		}	
	label {
		display: block;
		}
	.optwrap {
		float: left;
		width: 40%;
		white-space: nowrap;
		
		&:last-child {
			width: 60%;
			padding: 0 0 0 10px;
			}
		div {
			padding: 5px 0 0 15px;
			font-size: 11px;
			line-height: 1.7;
			}
		}
	input[type=submit],
	input[type=button] {
		margin: 20px 0 0;
		}
		.import {
			clear: both;
			float: left;
			}
		.save {
			float: right;
			}
	
	@include mobile-landscape {
		#eras,
		#misc {
			float: left;
			width: 50%;
			}		
		}
	@include tablet {
		fieldset {
			float: left;
			}
			#cats {
				width: 25%;
				}
			#statuses {
				width: 35%;
				}
			#agents {
				width: 40%;
				}
			.optwrap {
				div {
					font-size: 12px;
					}
				}
		}
	@include tablet-landscape {
		.optwrap {
			div {
				font-size: 14px;
				}
			}
		}
	@include desktop {
		#cats {
			width: 12%;
			}
		#statuses {
			width: 17%;
			}
		#agents {
			width: 30%;
			}
		#eras {
			width: 22%;
			}
		#misc {
			width: 18%;
			padding-right: 0;
			}
		}
	}


.country-message {
	padding: 12px 16px;
	margin: 0 0 10px;
	background: $article;
	text-align: center;
	line-height: 1.2;
	
	button {
		margin: 10px 10px 0;
		}
	
	@include tablet {
		padding: 10px 20px;
		margin: 0 0 20px;
		}
	@include tablet-landscape {
		text-align: left;
		
		br {
			display: none
			}
		button {
			margin: 0 0 0 10px;
			}
		}
	}

// FOOTER

footer {
	line-height: 2;
	@extend .cf;
	color: $footer;
	font-size: em(14);
	
	a {
		color: $contrast;
		}
	
	.social {
		margin: 5px 0 0;
		}
		.twitter-follow-button {
			margin: 0 20px 0 0;
			}
	
	@include tablet-landscape {
		font-size: em(16);
		}
	}


// ADS

#top_ad {
	text-align: center;
	margin-bottom: 20px;
	display: none;
	}

#bottom_ad {
	display: none;
	clear: both;
	width: 760px;
	margin: 0 auto;
	padding: 1em 0;
	height: 92px;
	
	.bsap {
		margin: 0 auto;
		width: 760px;
		}
	
	a {
		float: left;
		margin: 0 auto;
		}
	
	@include tablet-landscape {
		display: block;
		}
	}




// FEATURE BLOCK
// ----------------------------------------------------

.feature {
	background: $article;
	padding: 36px 16px 16px;
	margin: 0 0 20px;
	position: relative;
	
	.permalink {
		background: $permalink;
		position: absolute;
		left: 16px;
		top: 0;
		width: 32px;
		height: 32px;
		padding: 3px 0 0;
		text-align: center;
		color: #fff;
		font-size: em(25);
		
		&:hover {
			background: #fff;
			color: $permalink;
			}		
		}
		
	h1 {
		display: inline;
		font-size: em(21);
		margin: 0 8px 0 0;
		line-height: 1.4;
		}
	
	.specification {
		color: #999;
		white-space: nowrap;
		
		.icon {
			font-size: 16px;
			}
			&.rec	{ color: $green; }
			&.cr	{ color: $partial; }
			&.wd	{ color: shade($red, 15); }
			&.other	{ color: #999; }
		}
	.description {
		font-size: em(14);
		margin: 1em 0;
		}
	.supportStats {
		font-size: em(14);
		white-space: nowrap;
		
		.support {
			color: $green;
			margin: 0 0 0 6px;
			}
		.partial {
			color: $partial-stats;
			}
		.total {
			display: inline-block;
			background: darken($green, 10);
			color: #fff;
			padding: .5em;
			}
		}

	@include tablet {
		padding: 20px;
		margin: 0 0 30px;
		
		.permalink {
			left: -32px;
			top: 22px;
			}
		h1 {
			margin-top: 0;
			font-size: em(36);
			line-height: 1;
			}
		.specification {
			font-size: em(20);
			}
		.description {
			font-size: em(18);
			}
		}
	@include tablet-landscape {
		.supportStats {
			font-size: em(21);
			position: absolute;
			right: 0;
			top: 20px;
			}
		}
	}


/* TABLE */
.support_container {
	max-width: 100%;
	overflow-x: auto;
	margin: 0 0 20px;
	@include user-select();
	-webkit-overflow-scrolling: touch;
	
	table {
		width: 100%;
		border-spacing: 2px;
		border-collapse: separate;
		font-size: em(11);
		text-align: center;
		table-layout: fixed;
		}
		td,
		th {
			font-weight: 300;
			width: 10%;
			min-width: 4.5em;
			}
		thead th {
			border-bottom: 4px solid #ddd;
			border-bottom: 4px solid black(.12);
			vertical-align: bottom;
			padding: 6px 0;
			}
			.ie			{ border-bottom-color: $ie; }
			.firefox,
			.and_ff		{ border-bottom-color: $firefox; }
			.chrome,
			.and_chrome	{ border-bottom-color: $chrome; }
			.safari,
			.ios_saf	{ border-bottom-color: $safari; }
			.opera,
			.op_mini,
			.op_mob		{ border-bottom-color: $opera; }
			.android	{ border-bottom-color: $android; }
			.bb			{ border-bottom-color: $blackberry; }
	
	li {
		margin: 0 0 2px;
		padding: 6px 0;
		list-style: none;
		min-height: 24px;
		background: black(.03);
		@include ie-rgba(black(.03));
		color: #fff;
		position: relative;
		
		&:hover {
			cursor: help;
			}
		}
		.y {
			background: $green;
			&:hover { background: $green-hover; }
			}
		.n, .p {
			background: $red;
			&:hover { background: $red-hover; }
			}
		.a {
			background: $partial;
			&:hover { background: $partial-hover; }
			}
		
		.future {
			opacity: .6;
			}
	
		.x {
			&:before {
				content: "";
				position: absolute;
				right: 0;
				top: 0;
				border-top: 12px solid #F9EC5E;
				border-left: 12px solid transparent;
				}
			&:after {
				content: "";
				position: absolute;
				width: 3px;
				height: 1px;
				top: 3px;
				right: 2px;
				background: #222;
				background: black(.4);
				}
			}
		
		.note-header {
			position: absolute;
			left: -9999px;
			}
		.note-list {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 11px;
			
			.num-tag {
				display: block;
				background: white(.4);
				color: black(.7);
				padding: 2px 0;
				font-size: .6em;
				}
			}
		.highlight {
			outline: 3px solid $highlight;
			z-index: 1;
			
			.num-tag {
				background: $highlight;
				color: #fff;
				}
			}
		
	
	@include tablet-mini {
		table {
			font-size: em(12);
			}			
		th,
		li {
			padding: 8px 0;
			min-height: 30px;
			}
		}
	@include tablet {
		margin: 0 0 30px;
		
		table {
			font-size: em(16);
			}
		th,
		li {
			min-height: 38px;
			padding: 11px 0;
			}
		.x {
			&:before {
				border-top-width: 15px;
				border-left-width: 15px;
				}
				&:after {
					width: 4px;
					height: 2px;
					}
			}
		.note-list {
			width: 14px;
			}
		}
	@include desktop {
		table {
			font-size: em(18);
			}
		th,
		li {
			padding: 13px 0;
			min-height: 44px;
			}
		}
	}
		
/* TABS */
.feature-tab-container {
	li {
		display: block;
		padding: 10px 16px;
		background: $tabs-light;
		position: relative;
		margin: 0 -16px;
		font-size: em(13);
		
		&.active,
		&:hover {
			background: $tabs;
			z-index: 3;
			cursor: pointer;

			&:after {
				border-left: 14px solid $tabs;
				}
			}
		
		@include mobile-landscape {
			display: inline-block;
			padding: 10px 4px 10px 8px;
			margin: 0 4px 0 0;

			&:after {
				content: "";
				position: absolute;
				z-index: 2;
				right: -14px;
				bottom: 0;
				border-left: 14px solid $tabs-light;
				border-top: 34px solid transparent;
				}					
			}
		@include tablet {
			font-size: em(18);
			padding: 10px 8px 10px 12px;
			
			&:after {
				border-top-width: 38px;
				}
			}
		}
	}

/* TAB CONTENTS */
.feature-panel-container {
	margin: 0 -16px -16px;
	padding: 20px 16px;
	background: $tabs;
	font-size: em(13);
	line-height: 1.5;
	
	p {
		margin: 0 0 .3em;
		}
	
	.num-note.highlight {
		padding: 0 .3em;
		margin-left: -.3em;
		margin-right: -.3em;
		background: $highlight;
		color: #fff;
		border-radius: 3px;
		
		a {
			color: fff;
			color: white(.7);
			}
		}
	
	ul {
		list-style: square;
		}
	li {
		margin: 0 0 .3em 2em;
		}
	.linktag {
		font-size: .75em;
		background: #fff;
		color: $highlight;
		border-radius: 99px;
		padding: .1em .6em;
		margin: 0 0 0 6px;
		}
			
	@include tablet {
		margin: 0 -20px -20px;
		padding: 30px 20px;
		font-size: em(16);
		}
	}


// PAGES
// ----------------------------------------------------

.page {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0 5% 40px;
	background: $nav-hover;
	color: #fff;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	
	nav {
		a {
			background: #fff;
			color: $nav-hover;
			margin: 0;
			
			&:hover {
				color: #fff;
				background: none;
				}
			}
		}
	
	.content {
		max-width: 700px;
		margin: 40px auto 0;
		line-height: 1.4;
		font-size: em(13);

		a {
			color: #fff;
			border-bottom: 1px solid white(.4);
			
			&:hover {
				border: 0;
				}
			}
		ul,
		ol {
			margin: 1em 0;
			}
		li {
			list-style: square;
			margin: 0 0 0 2em;
			}
		ol li {
			list-style: decimal;
			}
		}
	
	article {
		margin: 0 0 4em;
		
		.date {
			color: white(.5);
			}
		h3 {
			font-weight: 300;
			font-size: 1.5em;
			margin: .2em 0 .5em;
			line-height: 1.2;
			border-left: 3px solid #fff;
			padding-left: 13px;
			margin-left: -16px;
			}
		}
	
	@include tablet-mini {
		.content {
			font-size: em(14);
			}
		}
	@include tablet {
		.content {
			font-size: em(16);
			}
		}
	}


// INDEX

#index {
	background: $index;
	
	nav a {
		color: $index;
		}
	
	h1 {
		margin-top: 70px;
		}

	> div {
		float: left;
		min-width: 290px;
		line-height: 1.5;
		padding: 0 20px;
		
		@include tablet {
			width: 50%;
			}
		@include desktop {
			width: 33%;
			}
		@include mq(1400px) {
			width: 25%;
			}
		@include mq(1600px) {
			width: 20%;
			}
		}
		ul {
			margin: 0 0 24px;
			font-size: em(13);
			
			@include tablet-mini {
				font-size: em(16);
				}
			}
			li {
				list-style: square;
				margin: 0 0 0 2em;				
				}
		a {
			color: #fff;
			display: block;
			
			&:hover {
				color: #fd0;
				}
			}
	}



// BROWSER COMPARISON
// ----------------------------------------------------

#compare-options {
	margin-top: 0;
	
	fieldset {
		width: auto;
		margin: 0 30px 0 0;
		padding-bottom: 10px;
		}
	label {
		white-space: nowrap;
		margin-right: 5px;
		}
	> div {
		padding: 20px 0 0 16px;
		margin: 0 -16px;
		overflow: hidden;
		background: white(.1);
		}		
	
	@include mobile-landscape {
		button {
			float: right;
			}		
		}
	@include tablet-mini {
		> fieldset {
			float: left;
			
			label {
				display: block;
				}
			}
		> div {
			padding: 20px;
			margin: 0 0 0 140px;
			}		
		}
	@include tablet-landscape {
		fieldset {
			float: left;
			}
		label {
			display: block;
			}
		}
	}

#compare-content {
	background: $article;
	padding: 16px;
	margin: 0 0 20px;
	
	h2 {
		margin-top: .5em;
		text-align: left;
		color: #000;
		}
	
	td {
		position: relative;
		color: #fff;
		}
	tbody {
		th {
			padding-right: 8px;
			width: 30%;
			}
		tr:hover {
			th {
				background: black(.05);
				}
			.y {
				background: $green-hover;
				}
			.n, .p {
				background: $red-hover;
				}
			.a {
				background: $partial-hover;
				}			
			}
		}

	@include tablet {
		padding: 20px;
		margin: 0 0 30px;
		}
	}


// ICONS
// ----------------------------------------------------

@font-face {
	font-family: 'caniuse';
	src:url('fonts/caniuse.eot');
	src:url('fonts/caniuse.eot?#iefix') format('embedded-opentype'),
		url('fonts/caniuse.woff') format('woff'),
		url('fonts/caniuse.ttf') format('truetype'),
		url('fonts/caniuse.svg#caniuse') format('svg');
	font-weight: normal;
	font-style: normal;
	}

.icon,
.select:before,
input[type=checkbox]:before {
	display: inline-block;
	font-family: "caniuse";
	font-weight: normal !important;
	font-style: normal !important;
	text-transform: none !important;
	-webkit-font-smoothing: antialiased;
	}

.icon-index:before {
	content: "\e000";
}
.icon-settings:before {
	content: "\e001";
}
.icon-spec:before {
	content: "\e002";
}
.icon-close:before {
	content: "\e003";
}
.select:before {
	content: "\e004";
}
input[type=checkbox]:before {
	content: "\e005";
}
input[type=checkbox]:checked:before {
	content: "\e006";
}






// STYLES TO BE CLEANED UP
// ----------------------------------------------------


#wciu_summary td {
	color: #000;
}

section.panel {
	background-color: #ede1cc;
}

.panel {
	padding: .5em;
	margin-bottom: 1em;
	
    h1 {
        margin: 1em 20px;
    }

    p {
        margin: 1em 20px;
    }
}



// Links under feature blocks
#show_links,
#showall {
	text-align: center;
	margin-bottom: 40px;
}

#showall {
	margin-bottom: 20px;
}

#show_links a,
#showall a {
	background-color: #db5600;
	color: white;
	display: inline-block;
	padding: .5em;
	margin: 0 3em;
	font-size: 1.5em;
}
