body { background: #3D3527; background: linear-gradient(-45deg, transparent 50%, rgba(255, 255, 255, 0.02) 50%, rgba(255, 255, 255, 0.01)), -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(90%, transparent), color-stop(90%, rgba(255, 255, 255, 0.03))), #3d3527; background: -webkit-linear-gradient(-45deg, transparent 50%, rgba(255, 255, 255, 0.02) 50%, rgba(255, 255, 255, 0.01)), -webkit-linear-gradient(left, transparent 90%, rgba(255, 255, 255, 0.03) 90%), #3d3527; background: -moz-linear-gradient(-45deg, transparent 50%, rgba(255, 255, 255, 0.02) 50%, rgba(255, 255, 255, 0.01)), -moz-linear-gradient(left, transparent 90%, rgba(255, 255, 255, 0.03) 90%), #3d3527; background: -o-linear-gradient(-45deg, transparent 50%, rgba(255, 255, 255, 0.02) 50%, rgba(255, 255, 255, 0.01)), -o-linear-gradient(left, transparent 90%, rgba(255, 255, 255, 0.03) 90%), #3d3527; background: linear-gradient(-45deg, transparent 50%, rgba(255, 255, 255, 0.02) 50%, rgba(255, 255, 255, 0.01)), linear-gradient(left, transparent 90%, rgba(255, 255, 255, 0.03) 90%), #3d3527; }

html { height: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; }

body, form, ol, ul, li, dl, dt, dd, td, th, tr, fieldset { margin: 0; padding: 0; }

h1, h2, h3, h4, h5, h6, p, pre, blockquote, address { margin: 0 0 1em 0; padding: 0; }

ul { list-style: none; }

ol { margin-bottom: 1em; }

ol > li { margin-left: 2em; }

img, fieldset { border: 0; -ms-interpolation-mode: bicubic; }

table { border-collapse: collapse; border-spacing: 0; empty-cells: show; font-size: 100%; }

th { text-align: center; }

tbody th { text-align: left; }

a:hover, a:active { outline: 0; }

input::-moz-focus-inner { border: 0; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body { font: 100%/1 "Open Sans", sans-serif; font-weight: 300; background-size: 200px 200px, 10px 10px; padding: 0 3% 30px; max-width: 1800px; margin: 0 auto; }
@media (min-width: 768px) { body { background-size: 400px 400px, 10px 10px; padding: 0 5% 40px; } }

a { color: #db5600; text-decoration: none; }

h1 { font-weight: 300; font-size: 2.25em; }

h2 { font-weight: 300; font-size: 1.5em; margin: 0 0 .5em; }

fieldset { float: left; }

input, textarea { font: inherit; }

input[type=submit], input[type=button] { background: #fff; color: #db5600; border: 0; padding: .3em 1em; font-size: 1.2em; -webkit-appearance: none; border-radius: 0; }
input[type=submit]:hover, input[type=submit]:active, input[type=submit]:focus, input[type=button]:hover, input[type=button]:active, input[type=button]:focus { cursor: pointer; color: #fff; background: #db8000; }

input[type=checkbox] { margin: 0 3px 0 0; }

textarea { width: 100%; }

.cf:before, nav:before, footer:before, .cf:after, nav:after, footer:after { display: table; content: ""; }
.cf:after, nav:after, footer:after { clear: both; }

.left { float: left; }

.right { float: right; }

.hidden { display: none; }

nav { margin: 0 0 10px; position: relative; }
@media (min-width: 768px) { nav { margin: 0 0 20px; } }
nav li { display: inline-block; }
nav li > a { display: inline-block; color: white; padding: .5em .7em .6em; margin: 0 3px 0 0; background: rgba(255, 255, 255, 0.1); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1AFFFFFF,endColorstr=#1AFFFFFF); }
nav li > a:hover { background: #db8000; color: #fff; }
nav li > a.index { background: #db8000; color: #fff; margin: 0; }
nav li > a.index:hover { background: #fff; color: #db8000; }
nav li > a span, nav li > a .icon { display: none; }
@media (min-width: 480px) { nav li > a span { display: inline; }
  nav li > a .icon { display: inline-block; font-size: 0.875em; } }
@media (min-width: 600px) { nav li > a { font-size: 1.25em; }
  nav li > a .icon { font-size: 0.8em; } }
@media (min-width: 768px) { nav li > a { font-size: 1.5em; margin: 0 6px 0 0; }
  nav li > a .icon { font-size: 0.83333em; } }
nav .news { position: absolute; top: .95em; left: 12em; right: 21em; height: 1.3em; color: white; font-size: 1.125em; display: none; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; -o-text-overflow: ellipsis; }
nav .news:hover { color: #db9e00; }
nav .news .date { color: rgba(255, 255, 255, 0.4); }
@media (min-width: 1024px) { nav .news { display: block; } }

.search { background: #db5600; color: #fff; text-align: center; padding: .6em 0; margin: 0 0 10px; font-size: 1.125em; }
.search input { -webkit-appearance: none; -moz-appearance: none; appearance: none; border: 0; border-bottom: 1px solid #fff; background: transparent; font: inherit; color: #fff; width: 50%; padding: 0 4px; border-radius: 0; }
.search input:focus { outline: none; background: rgba(255, 255, 255, 0.2); }
.search .options { color: #fff; color: rgba(255, 255, 255, 0.4); padding: 0 0 0 10px; white-space: nowrap; vertical-align: middle; }
.search .options span { display: none; }
.search .options:hover { color: #fff; }
@media (min-width: 480px) { .search { font-size: 1.5em; }
  .search input { width: 40%; }
  .search .options { font-size: 0.75em; }
  .search .options span { display: inline; } }
@media (min-width: 768px) { .search { font-size: 1.875em; margin: 0 0 20px; }
  .search input { border-bottom-width: 2px; }
  .search .options { font-size: 24px; } }
@media (min-width: 1024px) { .search { font-size: 3em; } }

.searchPanel { background: #db5600; margin: -10px 0 10px; padding: 8px 16px 24px; font-size: 0.75em; color: #fff; overflow: hidden; line-height: 1.5; }
.searchPanel a { color: #fff; }
.searchPanel fieldset { padding: .8em 0 20px 0; }
.searchPanel legend { background: rgba(255, 255, 255, 0.2); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF,endColorstr=#33FFFFFF); color: #fff; padding: .1em .5em; }
.searchPanel label { display: block; }
.searchPanel .optwrap { float: left; width: 40%; }
.searchPanel .optwrap:last-child { width: 60%; padding: 0 0 0 10px; }
.searchPanel .optwrap div { padding: 5px 0 0 15px; font-size: 10px; }
.searchPanel input[type=range] { margin: 10px 0; width: 70%; }
.searchPanel input[type=submit], .searchPanel input[type=button] { margin: 20px 0 0; }
.searchPanel .import { clear: both; float: left; }
.searchPanel .save { float: right; }
.searchPanel .dim { color: rgba(255, 255, 255, 0.5); }
@media (min-width: 768px) { .searchPanel { margin: -20px 0 20px; padding: 10px 20px 30px; font-size: 1em; }
  .searchPanel fieldset { float: left; padding: 0.8em 20px 20px 0; }
  .searchPanel #cats { width: 25%; }
  .searchPanel #statuses { width: 35%; }
  .searchPanel #agents { width: 40%; }
  .searchPanel #eras, .searchPanel #misc { width: 50%; } }
@media (min-width: 1200px) { .searchPanel #cats { width: 15%; }
  .searchPanel #statuses { width: 17%; }
  .searchPanel #agents, .searchPanel #eras { width: 25%; }
  .searchPanel #misc { width: 18%; padding-right: 0; } }

footer { line-height: 2; color: #9e9a93; font-size: 0.875em; }
footer a { color: #db9e00; }
footer .social { margin: 5px 0 0; }
footer .twitter-follow-button { margin: 0 20px 0 0; }
@media (min-width: 1024px) { footer { font-size: 1em; } }

/* ADS */
#top_ad { text-align: center; margin-bottom: 20px; display: none; }

#bottom_ad { clear: both; width: 760px; margin: 0 auto; padding: 1em 0; height: 92px; }
#bottom_ad .bsap { margin: 0 auto; width: 760px; }
#bottom_ad a { float: left; margin: 0 auto; }

.feature { background: #f2e8d5; padding: 36px 16px 16px; margin: 0 0 20px; position: relative; /* TABLE */ /* TABS */ /* TAB CONTENTS */ }
.feature .permalink { background: #db5600; position: absolute; left: 16px; top: 0; width: 32px; height: 32px; padding: 3px 0 0; text-align: center; color: #fff; font-size: 1.5625em; }
.feature .permalink:hover { background: #fff; color: #db5600; }
.feature h1 { display: inline; font-size: 1.5em; margin: 0 20px 0 0; line-height: 1.4; }
.feature .specification { color: #999; white-space: nowrap; }
.feature .specification .icon { font-size: 16px; }
.feature .specification.rec { color: #39b54a; }
.feature .specification.cr { color: #b7ce03; }
.feature .specification.wd { color: #bb3e2f; }
.feature .specification.other { color: #999; }
.feature .description { font-size: 0.875em; margin: 1em 0; }
.feature .supportStats { font-size: 0.875em; white-space: nowrap; }
.feature .supportStats .support { color: #39b54a; margin: 0 0 0 6px; }
.feature .supportStats .partial { color: #7c8c00; }
.feature .supportStats .total { display: inline-block; background: #2d8e3a; color: #fff; padding: .5em; }
@media (min-width: 768px) { .feature { padding: 20px; margin: 0 0 30px; }
  .feature .permalink { left: -32px; top: 22px; }
  .feature h1 { margin-top: 0; font-size: 2.25em; line-height: 1; }
  .feature .specification { font-size: 1.25em; }
  .feature .description { font-size: 1.125em; } }
@media (min-width: 1024px) { .feature .supportStats { font-size: 1.3125em; position: absolute; right: 0; top: 20px; } }
.feature .tableWrapper { max-width: 100%; overflow: auto; margin: 0 0 20px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.feature table { width: 100%; border-spacing: 2px; border-collapse: separate; font-size: 0.8125em; }
.feature td, .feature th { font-weight: 300; width: 10%; min-width: 4.2em; padding: 4px 6px; }
.feature thead th { border-bottom: 4px solid #ddd; border-bottom: 4px solid rgba(0, 0, 0, 0.12); vertical-align: bottom; }
.feature thead th:first-child { min-width: 8.8em; }
.feature thead .ie { border-bottom-color: #2e6792; }
.feature thead .firefox, .feature thead .and_ff { border-bottom-color: #f7931e; }
.feature thead .chrome, .feature thead .and_chrome { border-bottom-color: #1387e8; }
.feature thead .safari, .feature thead .ios_saf { border-bottom-color: gray; }
.feature thead .opera, .feature thead .op_mini, .feature thead .op_mob { border-bottom-color: #c1272d; }
.feature thead .android { border-bottom-color: #8cc63f; }
.feature thead .bb { border-bottom-color: #222222; }
.feature tbody th, .feature tbody td { background: rgba(0, 0, 0, 0.04); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0A000000,endColorstr=#0A000000); }
.feature tbody .e0 th { background: rgba(0, 0, 0, 0.15); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1F000000,endColorstr=#1F000000); }
.feature tbody th { text-align: right; padding-right: 10px; }
.feature tbody td { background: rgba(0, 0, 0, 0.03); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#08000000,endColorstr=#08000000); color: #fff; position: relative; }
.feature tbody .y { background: #39b54a; }
.feature tbody .n { background: #dd4a38; }
.feature tbody .a { background: #b7ce03; }
.feature tbody tr:hover td { background: rgba(0, 0, 0, 0.09); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#17000000,endColorstr=#17000000); }
.feature tbody tr:hover .y { background: #129324; }
.feature tbody tr:hover .n { background: #ca3321; }
.feature tbody tr:hover .a { background: #94a700; }
.feature td.y:hover:after, .feature td.n:hover:after, .feature td.a:hover:after { content: attr(data-tooltip); position: absolute; z-index: 20; top: -18px; right: 10px; padding: 3px 4px 4px; white-space: nowrap; background: #fff; color: #000; font-size: 0.875em; -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2); box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2); }
.feature .pre { float: right; background: #e6ea69; color: #222; font-size: 8px; font-weight: 400; display: inline-block; padding: 2px; margin: 4px 0 0 6px; }
@media (min-width: 768px) { .feature .tableWrapper { margin: 0 0 30px; }
  .feature table { font-size: 1em; }
  .feature td, .feature th { padding: 8px; } }
@media (min-width: 1200px) { .feature table { font-size: 1.125em; }
  .feature td, .feature th { padding: 11px 8px; }
  .feature .pre { font-size: 9px; } }
.feature .feature-tab-container li { display: inline-block; padding: 10px 4px 10px 8px; background: #ecdec3; position: relative; margin: 0 4px 0 0; font-size: 0.8125em; }
.feature .feature-tab-container li:after { content: ""; position: absolute; z-index: 2; right: -14px; bottom: 0; border-left: 14px solid #ecdec3; border-top: 34px solid transparent; }
.feature .feature-tab-container li.active, .feature .feature-tab-container li:hover { background: #e0c89b; z-index: 3; cursor: pointer; }
.feature .feature-tab-container li.active:after, .feature .feature-tab-container li:hover:after { border-left: 14px solid #e0c89b; }
@media (min-width: 768px) { .feature .feature-tab-container li { font-size: 1.125em; padding: 10px 8px 10px 12px; }
  .feature .feature-tab-container li:after { border-top-width: 38px; } }
.feature .feature-panel-container { margin: 0 -16px -16px; padding: 20px 16px; background: #e0c89b; font-size: 0.8125em; line-height: 1.3; }
@media (min-width: 768px) { .feature .feature-panel-container { margin: 0 -20px -20px; padding: 30px 20px; font-size: 1em; } }

#index { position: absolute; z-index: 10; top: 0; left: 0; width: 100%; padding: 70px 5% 40px; background: #db8000; color: #fff; }
#index nav { margin: -70px 0 0; }
#index nav a { background: #fff; color: #db8000; margin: 0; }
#index nav a:hover { color: #000; }
#index > div { float: left; min-width: 290px; line-height: 1.5; padding: 0 20px; }
@media (min-width: 768px) { #index > div { width: 50%; } }
@media (min-width: 1200px) { #index > div { width: 33%; } }
@media (min-width: 1400px) { #index > div { width: 25%; } }
@media (min-width: 1600px) { #index > div { width: 20%; } }
#index ol { margin: 0 0 24px; font-size: 0.8125em; }
@media (min-width: 600px) { #index ol { font-size: 1em; } }
#index li { list-style: square; }
#index a { color: #fff; }
#index a:hover { color: #fd0; }

@font-face { font-family: "caniuse"; src: url('fonts/caniuse.eot'); src: url('fonts/caniuse.eot?#iefix') format('eot'), url('fonts/caniuse.woff') format('woff'); }

.icon { display: inline-block; font-family: "caniuse"; font-weight: normal !important; font-style: normal !important; text-transform: none !important; -webkit-font-smoothing: antialiased; }

.icon.index:before { content: "\f001"; }

.icon.settings:before { content: "\f002"; }

.icon.spec:before { content: "\f003"; }

.icon.close:before { content: "\f007"; }

#options_compare { background-color: #db8000; margin-top: 0; }
#options_compare fieldset { overflow-y: auto; }

#comparison_wrap { margin: 2em 0; background-color: #ede1cc; padding: 2em; }

#browser_comparison { width: 100%; border-spacing: 2px; border-collapse: separate; }
#browser_comparison th { background-color: rgba(0, 0, 0, 0.03); padding: 8px; }
#browser_comparison td { padding: 8px; }
#browser_comparison tr:hover th { background-color: rgba(0, 0, 0, 0.09); }
#browser_comparison tbody .y { background: #39b54a; }
#browser_comparison tbody .n, #browser_comparison tbody .p { background: #dd4a38; }
#browser_comparison tbody .a { background: #b7ce03; }
#browser_comparison thead th[class] { border-bottom-style: solid; border-bottom-width: 2px; }
#browser_comparison thead .ie { border-bottom-color: #2e6792; }
#browser_comparison thead .firefox, #browser_comparison thead .and_ff { border-bottom-color: #f7931e; }
#browser_comparison thead .chrome, #browser_comparison thead .and_chrome { border-bottom-color: #1387e8; }
#browser_comparison thead .safari, #browser_comparison thead .ios_saf { border-bottom-color: gray; }
#browser_comparison thead .opera, #browser_comparison thead .op_mini, #browser_comparison thead .op_mob { border-bottom-color: #c1272d; }
#browser_comparison thead .android { border-bottom-color: #8cc63f; }
#browser_comparison thead .bb { border-bottom-color: #222222; }

#wciu_summary td { color: #000; }

section.panel { background-color: #ede1cc; }

.panel { padding: .5em; margin-bottom: 1em; }
.panel h1 { margin: 1em 20px; }
.panel p { margin: 1em 20px; }

#show_links, #showall { text-align: center; margin-bottom: 40px; }

#showall { margin-bottom: 20px; }

#show_links a, #showall a { background-color: #db5600; color: white; display: inline-block; padding: .5em; margin: 0 3em; font-size: 1.5em; }
