body { background: #f4f4f3; background: linear-gradient(-45deg, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.2)), -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(90%, transparent), color-stop(90%, rgba(0, 0, 0, 0.03))), #f4f4f3; background: -webkit-linear-gradient(-45deg, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.2)), -webkit-linear-gradient(left, transparent 90%, rgba(0, 0, 0, 0.03) 90%), #f4f4f3; background: -moz-linear-gradient(-45deg, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.2)), -moz-linear-gradient(left, transparent 90%, rgba(0, 0, 0, 0.03) 90%), #f4f4f3; background: -o-linear-gradient(-45deg, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.2)), -o-linear-gradient(left, transparent 90%, rgba(0, 0, 0, 0.03) 90%), #f4f4f3; background: linear-gradient(-45deg, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.2)), linear-gradient(left, transparent 90%, rgba(0, 0, 0, 0.03) 90%), #f4f4f3; }

html { height: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; }

body, form, ol, ul, li, dl, dt, dd, td, th, tr, fieldset { margin: 0; padding: 0; }

h1, h2, h3, h4, h5, h6, p, pre, blockquote, address { margin: 0 0 1em 0; padding: 0; }

ul { list-style: none; }

img, fieldset { border: 0; -ms-interpolation-mode: bicubic; }

table { border-collapse: collapse; border-spacing: 0; empty-cells: show; font-size: 100%; }

th { text-align: center; }

tbody th { text-align: left; }

a:hover, a:active { outline: 0; }

input::-moz-focus-inner { border: 0; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body { font: 100%/1 "Open Sans", sans-serif; font-weight: 300; background-size: 200px 200px, 10px 10px; padding: 0 3% 30px; max-width: 1800px; margin: 0 auto; }
@media (min-width: 768px) { body { background-size: 400px 400px, 10px 10px; padding: 0 5% 40px; } }

a { color: #0071bc; text-decoration: none; }

h1 { font-weight: 300; font-size: 2.125em; }

h2 { font-weight: 300; font-size: 1.5em; margin: 0 0 .5em; }

input, textarea, select, button { font: inherit; }

input[type=submit], input[type=button], button { background: #fff; color: #0071bc; border: 0; padding: .3em 1em; font-size: 1.2em; border-radius: 0; margin: 0; -webkit-appearance: none; }
input[type=submit]:hover, input[type=submit]:active, input[type=submit]:focus, input[type=button]:hover, input[type=button]:active, input[type=button]:focus, button:hover, button:active, button:focus { cursor: pointer; color: #fff; background: #dd4a38; }

input[type=checkbox] { -webkit-appearance: none; margin: 0 3px 0 0; color: #fff; vertical-align: -1px; line-height: 1em; border: 0; border-radius: 0; background: none; }
input[type=checkbox]:focus { outline: none; box-shadow: 0 0 5px 1px lightblue, inset 0 0 1px 1px lightblue; }

input[type=range] { -webkit-appearance: none; height: 2px; background: #fff; display: block; margin: 1em 0; width: 70%; }
input[type=range]::-webkit-slider-thumb { -webkit-appearance: none; background: #2e6792; border: 2px solid #fff; height: 20px; width: 20px; border-radius: 99px; cursor: ew-resize; }

.select { background: #fff; display: inline-block; margin: 0 .4em; position: relative; }
.select select { -webkit-appearance: none; background: transparent; margin: 0; border: 0; padding: .2em 1.4em .2em .4em; }
.select:before { position: absolute; right: 4px; top: 2px; color: #333; }

textarea { width: 100%; height: 80px; max-width: 800px; border: 0; margin: .5em 0 0; border-radius: 0; }

.cf:before, nav:before, footer:before, .cf:after, nav:after, footer:after { display: table; content: ""; }
.cf:after, nav:after, footer:after { clear: both; }

.left { float: left; }

.right { float: right; }

.hidden { display: none; }

nav { margin: 0 0 10px; position: relative; }
@media (min-width: 768px) { nav { margin: 0 0 20px; } }
nav li { display: inline-block; }
nav li > a { display: inline-block; color: black; padding: .5em .7em .6em; margin: 0 3px 0 0; background: rgba(0, 0, 0, 0.06); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0F000000,endColorstr=#0F000000); }
nav li > a:hover { background: #2e6792; color: #fff; }
nav li > a.index { background: #dd4a38; color: #fff; margin: 0; }
nav li > a.index:hover { background: #fff; color: #dd4a38; }
nav li > a span, nav li > a .icon { display: none; }
@media (min-width: 480px) { nav li > a span { display: inline; }
  nav li > a .icon { display: inline-block; font-size: 0.875em; } }
@media (min-width: 600px) { nav li > a { font-size: 1.25em; }
  nav li > a .icon { font-size: 0.8em; } }
@media (min-width: 768px) { nav li > a { font-size: 1.5em; margin: 0 6px 0 0; }
  nav li > a .icon { font-size: 0.83333em; } }
nav .news { position: absolute; top: .95em; left: 12em; right: 21em; height: 1.3em; color: black; font-size: 1.125em; display: none; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; -o-text-overflow: ellipsis; }
nav .news:hover { color: #0071bc; }
nav .news .date { color: rgba(0, 0, 0, 0.4); }
@media (min-width: 1024px) { nav .news { display: block; } }

.search { background: #2e6792; color: #fff; text-align: center; padding: .6em 0; margin: 0 0 10px; font-size: 1.125em; }
.search input { -webkit-appearance: none; -moz-appearance: none; appearance: none; border: 0; border-bottom: 1px solid #fff; background: transparent; font: inherit; color: #fff; width: 50%; padding: 0 4px; border-radius: 0; text-align: center; }
.search input:focus { outline: none; background: rgba(255, 255, 255, 0.2); }
.search .options { color: #fff; color: rgba(255, 255, 255, 0.4); padding: 0 0 0 10px; white-space: nowrap; vertical-align: middle; }
.search .options span { display: none; }
.search .options:hover { color: #fff; }
@media (min-width: 480px) { .search { font-size: 1.5em; }
  .search input { width: 40%; }
  .search .options { font-size: 0.75em; }
  .search .options span { display: inline; }
  .search .options .icon { vertical-align: -2px; } }
@media (min-width: 768px) { .search { font-size: 1.875em; margin: 0 0 20px; }
  .search input { border-bottom-width: 2px; }
  .search .options { font-size: 24px; } }
@media (min-width: 1024px) { .search { font-size: 3em; } }
@media (min-width: 1200px) { .search input { width: 30%; } }

.searchPanel { background: #2e6792; margin: -10px 0 10px; padding: 8px 16px 24px; font-size: 0.75em; color: #fff; overflow: hidden; line-height: 1.5; }
.searchPanel a { color: #fff; }
.searchPanel p { margin: 0 0 .7em; }
.searchPanel fieldset { padding: .8em 0 20px 0; }
.searchPanel legend { background: rgba(255, 255, 255, 0.2); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF,endColorstr=#33FFFFFF); color: #fff; padding: .1em .5em; }
.searchPanel .dim { color: rgba(255, 255, 255, 0.5); }
@media (min-width: 768px) { .searchPanel { margin: -20px 0 20px; padding: 10px 20px 30px; font-size: 1em; } }

#options fieldset:first-child { width: 50%; float: left; }
#options label { display: block; }
#options .optwrap { float: left; width: 40%; white-space: nowrap; }
#options .optwrap:last-child { width: 60%; padding: 0 0 0 10px; }
#options .optwrap div { padding: 5px 0 0 15px; font-size: 11px; line-height: 1.7; }
#options input[type=submit], #options input[type=button] { margin: 20px 0 0; }
#options .import { clear: both; float: left; }
#options .save { float: right; }
@media (min-width: 480px) { #options #eras, #options #misc { float: left; width: 50%; } }
@media (min-width: 768px) { #options fieldset { float: left; }
  #options #cats { width: 25%; }
  #options #statuses { width: 35%; }
  #options #agents { width: 40%; }
  #options .optwrap div { font-size: 12px; } }
@media (min-width: 1024px) { #options .optwrap div { font-size: 14px; } }
@media (min-width: 1200px) { #options #cats { width: 12%; }
  #options #statuses { width: 17%; }
  #options #agents { width: 30%; }
  #options #eras { width: 22%; }
  #options #misc { width: 18%; padding-right: 0; } }

.country-message { padding: 12px 16px; margin: 0 0 10px; background: white; text-align: center; line-height: 1.2; }
.country-message button { margin: 10px 10px 0; }
@media (min-width: 768px) { .country-message { padding: 10px 20px; margin: 0 0 20px; } }
@media (min-width: 1024px) { .country-message { text-align: left; }
  .country-message br { display: none; }
  .country-message button { margin: 0 0 0 10px; } }

footer { line-height: 2; color: black; font-size: 0.875em; }
footer a { color: #0071bc; }
footer .social { margin: 5px 0 0; }
footer .twitter-follow-button { margin: 0 20px 0 0; }
@media (min-width: 1024px) { footer { font-size: 1em; } }

#top_ad { text-align: center; margin-bottom: 20px; display: none; }

#bottom_ad { display: none; clear: both; width: 760px; margin: 0 auto; padding: 1em 0; height: 92px; }
#bottom_ad .bsap { margin: 0 auto; width: 760px; }
#bottom_ad a { float: left; margin: 0 auto; }
@media (min-width: 1024px) { #bottom_ad { display: block; } }

.feature { background: white; padding: 36px 16px 16px; margin: 0 0 20px; position: relative; }
.feature .permalink { background: #39b54a; position: absolute; left: 16px; top: 0; width: 32px; height: 32px; padding: 3px 0 0; text-align: center; color: #fff; font-size: 1.5625em; }
.feature .permalink:hover { background: #fff; color: #39b54a; }
.feature h1 { display: inline; font-size: 1.3125em; margin: 0 8px 0 0; line-height: 1.4; }
.feature .specification { color: #999; white-space: nowrap; }
.feature .specification .icon { font-size: 16px; }
.feature .specification.rec { color: #39b54a; }
.feature .specification.cr { color: #b7ce03; }
.feature .specification.wd { color: #bb3e2f; }
.feature .specification.other { color: #999; }
.feature .description { font-size: 0.875em; margin: 1em 0; }
.feature .supportStats { font-size: 0.875em; white-space: nowrap; }
.feature .supportStats .support { color: #39b54a; margin: 0 0 0 6px; }
.feature .supportStats .partial { color: #b7ce03; }
.feature .supportStats .total { display: inline-block; background: #2d8e3a; color: #fff; padding: .5em; }
@media (min-width: 768px) { .feature { padding: 20px; margin: 0 0 30px; }
  .feature .permalink { left: -32px; top: 22px; }
  .feature h1 { margin-top: 0; font-size: 2.25em; line-height: 1; }
  .feature .specification { font-size: 1.25em; }
  .feature .description { font-size: 1.125em; } }
@media (min-width: 1024px) { .feature .supportStats { font-size: 1.3125em; position: absolute; right: 0; top: 20px; } }

/* TABLE */
.support_container { max-width: 100%; overflow-x: auto; margin: 0 0 20px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-overflow-scrolling: touch; }
.support_container table { width: 100%; border-spacing: 2px; border-collapse: separate; font-size: 0.6875em; text-align: center; table-layout: fixed; }
.support_container td, .support_container th { font-weight: 300; width: 10%; min-width: 4.5em; }
.support_container thead th { border-bottom: 4px solid #ddd; border-bottom: 4px solid rgba(0, 0, 0, 0.12); vertical-align: bottom; padding: 6px 0; }
.support_container .ie { border-bottom-color: #2e6792; }
.support_container .firefox, .support_container .and_ff { border-bottom-color: #f7931e; }
.support_container .chrome, .support_container .and_chrome { border-bottom-color: #1387e8; }
.support_container .safari, .support_container .ios_saf { border-bottom-color: gray; }
.support_container .opera, .support_container .op_mini, .support_container .op_mob { border-bottom-color: #c1272d; }
.support_container .android { border-bottom-color: #8cc63f; }
.support_container .bb { border-bottom-color: #222222; }
.support_container li { margin: 0 0 2px; padding: 6px 0; list-style: none; min-height: 24px; background: rgba(0, 0, 0, 0.03); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#08000000,endColorstr=#08000000); color: #fff; position: relative; }
.support_container li:hover { cursor: help; }
.support_container .y { background: #39b54a; }
.support_container .y:hover { background: #129324; }
.support_container .n, .support_container .p { background: #dd4a38; }
.support_container .n:hover, .support_container .p:hover { background: #be301f; }
.support_container .a { background: #b7ce03; }
.support_container .a:hover { background: #94a700; }
.support_container .future { opacity: .6; }
.support_container .x:before { content: ""; position: absolute; right: 0; top: 0; border-top: 12px solid #F9EC5E; border-left: 12px solid transparent; }
.support_container .x:after { content: ""; position: absolute; width: 3px; height: 1px; top: 3px; right: 2px; background: #222; background: rgba(0, 0, 0, 0.4); }
.support_container .note-header { position: absolute; left: -9999px; }
.support_container .note-list { position: absolute; bottom: 0; left: 0; width: 11px; }
.support_container .note-list .num-tag { display: block; background: rgba(255, 255, 255, 0.4); color: rgba(0, 0, 0, 0.7); padding: 2px 0; font-size: .6em; }
.support_container .highlight { outline: 3px solid #2e6792; z-index: 1; }
.support_container .highlight .num-tag { background: #2e6792; color: #fff; }
@media (min-width: 600px) { .support_container table { font-size: 0.75em; }
  .support_container th, .support_container li { padding: 8px 0; min-height: 30px; } }
@media (min-width: 768px) { .support_container { margin: 0 0 30px; }
  .support_container table { font-size: 1em; }
  .support_container th, .support_container li { min-height: 38px; padding: 11px 0; }
  .support_container .x:before { border-top-width: 15px; border-left-width: 15px; }
  .support_container .x:after { width: 4px; height: 2px; }
  .support_container .note-list { width: 14px; } }
@media (min-width: 1200px) { .support_container table { font-size: 1.125em; }
  .support_container th, .support_container li { padding: 13px 0; min-height: 44px; } }

/* TABS */
.feature-tab-container li { display: block; padding: 10px 16px; background: #eeeeee; position: relative; margin: 0 -16px; font-size: 0.8125em; }
.feature-tab-container li.active, .feature-tab-container li:hover { background: #d6d6d6; z-index: 3; cursor: pointer; }
.feature-tab-container li.active:after, .feature-tab-container li:hover:after { border-left: 14px solid #d6d6d6; }
@media (min-width: 480px) { .feature-tab-container li { display: inline-block; padding: 10px 4px 10px 8px; margin: 0 4px 0 0; }
  .feature-tab-container li:after { content: ""; position: absolute; z-index: 2; right: -14px; bottom: 0; border-left: 14px solid #eeeeee; border-top: 34px solid transparent; } }
@media (min-width: 768px) { .feature-tab-container li { font-size: 1.125em; padding: 10px 8px 10px 12px; }
  .feature-tab-container li:after { border-top-width: 38px; } }

/* TAB CONTENTS */
.feature-panel-container { margin: 0 -16px -16px; padding: 20px 16px; background: #d6d6d6; font-size: 0.8125em; line-height: 1.5; }
.feature-panel-container p { margin: 0 0 .3em; }
.feature-panel-container .num-note.highlight { padding: 0 .3em; margin-left: -.3em; margin-right: -.3em; background: #2e6792; color: #fff; border-radius: 3px; }
.feature-panel-container .num-note.highlight a { color: fff; color: rgba(255, 255, 255, 0.7); }
.feature-panel-container ul { list-style: square; }
.feature-panel-container li { margin: 0 0 .3em 2em; }
.feature-panel-container .linktag { font-size: .75em; background: #fff; color: #2e6792; border-radius: 99px; padding: .1em .6em; margin: 0 0 0 6px; }
@media (min-width: 768px) { .feature-panel-container { margin: 0 -20px -20px; padding: 30px 20px; font-size: 1em; } }

.page { position: fixed; z-index: 10; top: 0; left: 0; width: 100%; height: 100%; padding: 0 5% 40px; background: #2e6792; color: #fff; overflow: auto; -webkit-overflow-scrolling: touch; }
.page nav a { background: #fff; color: #2e6792; margin: 0; }
.page nav a:hover { color: #fff; background: none; }
.page .content { max-width: 700px; margin: 40px auto 0; line-height: 1.4; font-size: 0.8125em; }
.page .content a { color: #fff; border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
.page .content a:hover { border: 0; }
.page .content ul, .page .content ol { margin: 1em 0; }
.page .content li { list-style: square; margin: 0 0 0 2em; }
.page .content ol li { list-style: decimal; }
.page article { margin: 0 0 4em; }
.page article .date { color: rgba(255, 255, 255, 0.5); }
.page article h3 { font-weight: 300; font-size: 1.5em; margin: .2em 0 .5em; line-height: 1.2; border-left: 3px solid #fff; padding-left: 13px; margin-left: -16px; }
@media (min-width: 600px) { .page .content { font-size: 0.875em; } }
@media (min-width: 768px) { .page .content { font-size: 1em; } }

#index { background: #dd4a38; }
#index nav a { color: #dd4a38; }
#index h1 { margin-top: 70px; }
#index > div { float: left; min-width: 290px; line-height: 1.5; padding: 0 20px; }
@media (min-width: 768px) { #index > div { width: 50%; } }
@media (min-width: 1200px) { #index > div { width: 33%; } }
@media (min-width: 1400px) { #index > div { width: 25%; } }
@media (min-width: 1600px) { #index > div { width: 20%; } }
#index ul { margin: 0 0 24px; font-size: 0.8125em; }
@media (min-width: 600px) { #index ul { font-size: 1em; } }
#index li { list-style: square; margin: 0 0 0 2em; }
#index a { color: #fff; display: block; }
#index a:hover { color: #fd0; }

#compare-options { margin-top: 0; }
#compare-options fieldset { width: auto; margin: 0 30px 0 0; padding-bottom: 10px; }
#compare-options label { white-space: nowrap; margin-right: 5px; }
#compare-options > div { padding: 20px 0 0 16px; margin: 0 -16px; overflow: hidden; background: rgba(255, 255, 255, 0.1); }
@media (min-width: 480px) { #compare-options button { float: right; } }
@media (min-width: 600px) { #compare-options > fieldset { float: left; }
  #compare-options > fieldset label { display: block; }
  #compare-options > div { padding: 20px; margin: 0 0 0 140px; } }
@media (min-width: 1024px) { #compare-options fieldset { float: left; }
  #compare-options label { display: block; } }

#compare-content { background: white; padding: 16px; margin: 0 0 20px; }
#compare-content h2 { margin-top: .5em; text-align: left; color: #000; }
#compare-content td { position: relative; color: #fff; }
#compare-content tbody th { padding-right: 8px; width: 30%; }
#compare-content tbody tr:hover th { background: rgba(0, 0, 0, 0.05); }
#compare-content tbody tr:hover .y { background: #129324; }
#compare-content tbody tr:hover .n, #compare-content tbody tr:hover .p { background: #be301f; }
#compare-content tbody tr:hover .a { background: #94a700; }
@media (min-width: 768px) { #compare-content { padding: 20px; margin: 0 0 30px; } }

@font-face { font-family: 'caniuse'; src: url("fonts/caniuse.eot"); src: url("fonts/caniuse.eot?#iefix") format("embedded-opentype"), url("fonts/caniuse.woff") format("woff"), url("fonts/caniuse.ttf") format("truetype"), url("fonts/caniuse.svg#caniuse") format("svg"); font-weight: normal; font-style: normal; }

.icon, .select:before, input[type=checkbox]:before { display: inline-block; font-family: "caniuse"; font-weight: normal !important; font-style: normal !important; text-transform: none !important; -webkit-font-smoothing: antialiased; }

.icon-index:before { content: "\e000"; }

.icon-settings:before { content: "\e001"; }

.icon-spec:before { content: "\e002"; }

.icon-close:before { content: "\e003"; }

.select:before { content: "\e004"; }

input[type=checkbox]:before { content: "\e005"; }

input[type=checkbox]:checked:before { content: "\e006"; }

#wciu_summary td { color: #000; }

section.panel { background-color: #ede1cc; }

.panel { padding: .5em; margin-bottom: 1em; }
.panel h1 { margin: 1em 20px; }
.panel p { margin: 1em 20px; }

#show_links, #showall { text-align: center; margin-bottom: 40px; }

#showall { margin-bottom: 20px; }

#show_links a, #showall a { background-color: #db5600; color: white; display: inline-block; padding: .5em; margin: 0 3em; font-size: 1.5em; }
